<div style="color:red">DungeonBase</div>
<div id="object-list" style="margin-top: 20px; overflow-y: auto; height: calc(100% - 30px); width: 100%;">
	<span class="command" data-id="none">None</span><br>
	<% for (let id in db.tiles) {
		let it = db.tiles[id];
		 %>
		<span class="command" data-id="<%= id %>"><%= it.name %></span><br>

	<% } %>

	<% for (let id in db.actors) {
		let it = db.actors[id];
		 %>
		<span class="command" data-id="<%= id %>"><%= it.name %></span><br>

	<% } %>	

	<% for (let id in db.items) {
		let it = db.items[id];
		 %>
		<span class="command" data-id="<%= id %>"><%= it.name %></span><br>

	<% } %>
</div>